.profile__add-button {
  border: 1px solid #FFFFFF;
  width: 150px;
  height: 50px;
  margin: auto 0 auto auto;
  background-color: #000000;
  background-image: url(../../../images/add-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  cursor: pointer;
  transition: opacity linear 0.5s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .profile__add-button {
    width: 282px;
    margin: 36px auto 0;
  }
}