.popup__body {
  position: relative;
  display: flex;
  width: 480px;
  min-height: 387px;
}

@media screen and (max-width: 600px) {
  .popup__body {
    min-height: 370px;
    max-width: 282px;
  }
}