.popup__close-button {
  position: absolute;
  background-image: url(../../../images/close-icon.svg);
  background-size: cover;
  border: none;
  background-color: transparent;
  transition: opacity linear 0.5s;
  right: 0;
  top: 0;
  margin: 0;
  width: 64px;
  height: 64px;
  z-index: 1;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__close-button {
    width: 34px;
    height: 34px;
    margin-bottom: 14px;
  }
}