.profile__info {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  margin: 0 30px;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .profile__info {
    position: relative;
    height: 54px;
    margin: 26px auto 0;
    width: 100%;
  }
}