.footer {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  max-width: 880px;
  margin: 66px auto;
}

@media screen and (max-width: 600px) {
  .footer {
    margin: 50px 19px;
    font-size: 14px;
    line-height: 17px;
  }
}