.popup__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  width: 358px;
  height: 27px;
  margin: 54px auto 0;
  border: none;
}

.popup__text:last-of-type {
  margin-top: 30px;
}
  
@media screen and (max-width: 600px) {
  .popup__text {
    width: 238px;
  }
}