.popup__text {
  display: table-cell;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  width: 358px;
  margin: 54px auto 0;
  border: none;
  border-bottom: 1px solid rgb(0,0,0,0.2);
  vertical-align: top;
  height: 27px;
  padding-bottom: 7px;
}

.popup__text:last-of-type {
  margin-top: 20px;
}
  
@media screen and (max-width: 600px) {
  .popup__text {
    width: 238px;
    margin-top: 68px; 
  }
}